#app {
  height: 100vh;
}

.wrapper {
  display: flex;
  height: 100%;
}

.form-wrapper {
  width: 600px;
  min-height: 300px;
  padding: 32px;
  margin: auto;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.loading--visible {
  display: flex;
}

.loading__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading__content {
  margin: auto;
  z-index: 9999;
}

.loading__text {
  color: white;
  font-size: 1.4rem;
}
